/* alegreya-sc-regular - latin */

@font-face {
    font-family: 'Alegreya SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alegreya-sc-v22-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/alegreya-sc-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/alegreya-sc-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/alegreya-sc-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/alegreya-sc-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/alegreya-sc-v22-latin-regular.svg#AlegreyaSC') format('svg');
    /* Legacy iOS */
}


/* alegreya-sc-800 - latin */

@font-face {
    font-family: 'Alegreya SC';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/alegreya-sc-v22-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/alegreya-sc-v22-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/alegreya-sc-v22-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/alegreya-sc-v22-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/alegreya-sc-v22-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/alegreya-sc-v22-latin-800.svg#AlegreyaSC') format('svg');
    /* Legacy iOS */
}

body {
    font-family: 'Alegreya SC';
    margin: 0;
}

#pokedex {
    display: flex;
    min-height: 50vh;
    background-color: rgb(189, 26, 26);
    color: white;
}